NOTICIAS_ADMIN_USERNAME=
NOTICIAS_ADMIN_PASSWORD=

DB_URL=jdbc:mariadb://localhost:3306/dev-noticiaswebinfo?createDatabaseIfNotExist=true&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
DB_USER=
DB_PASSWORD=